{layout='layouts/_calendar-layout'}

{!--
	404 Redirect
	============
	This is a listing page, it needs categories and pagination to work, but also needs to redirect if segment_2 is invalid . i.e. http://example.com/blog/nothing
--}
{if segment_2}
	{if segment_2 != 'category' AND segment_2  ~ '/^(?!P\d+).*/' AND segment_2 != 'cal'}
		{redirect='404'}
	{/if}
{/if}

{!-- prevents 3rd ++ segments on non category listings --}
{if segment_3}
	{if segment_2 != 'category' AND segment_2 != 'cal'}
		{redirect='{segment_1}/{segment_2}'}
	{/if}
{/if}

{!-- prevents 4th ++ segments on category listings --}
{if segment_4}
	{if segment_4 ~ '/^(?!P\d+).*/' AND segment_2 != 'cal'}
		{redirect='{segment_1}/{segment_2}/{segment_3}'}
	{/if}
{/if}

{!-- prevents 5th ++ segments on paginated category listings --}
{if segment_5}
  {if segment_5 ~ '/^(?!P\d+).*/' AND segment_2 != 'cal'}
  	{redirect='{segment_1}/{segment_2}/{segment_3}/{segment_4}'}
  {/if}
{/if}



{!-- Everything below is the "meat" of the template. We'll use tags to output content,
	which will populate the layout:contents of the layouts/_blog-layout layout --}

<style media="screen">
	.calendar div {
		border-top: 1px solid #4e4e4e;
		text-align: left;
	}
	.calendar div:first-child {
		border-top: none;
	}
	.calendarToday a {
		color: #d2d2d2;
		text-decoration: none;
	}
</style>
<script>
	var removeTrailingLink = false;
</script>
<?php
	function test($num){
		$days = array(
			'Sunday',
			'Monday',
			'Tuesday',
			'Wednesday',
			'Thursday',
			'Friday',
			'Saturday',
		);
		return $days[$num - 1];
	}
	function get_month_and_year() {
		if (!ee()->uri->segment(2)){
			return date('M Y');
		} elseif (ee()->uri->segment(2) == "cal") {
			$month = ee()->uri->segment(4);
			$year = ee()->uri->segment(3);
			$d = mktime(1, 1, 1, $month, 1, $year);
			return date('M Y', $d);
		}
	}
	function get_next_month_link() {
		// <a style="color: white;" href="calendar/cal'">{next_date format="%M %Y"}</a>
		if (!ee()->uri->segment(2)){
			$month = date('m') == '12' ? '1' : date('m') + 1 ;
			$year = $month == '12' ? date('Y') +1 : date('Y');
			$d = mktime(1,1,1,$month,1,$year);
			$date = date('M Y',$d);
			$href = 'calendar/cal/'.$year.'/'.sprintf("%02d", $month);
			return '<a style="color: white;" href="'.$href.'">'.$date.'</a>';
		} else {
			$month = ee()->uri->segment(4) == '12' ? '1' : ee()->uri->segment(4) + 1;
			$year = $month == '1' ? ee()->uri->segment(3) +1 : ee()->uri->segment(3);
			$d = mktime(1,1,1,$month,1,$year);
			$date = date('M Y',$d);
			$href = 'calendar/cal/'.$year.'/'.sprintf("%02d", $month);
			return '<a style="color: white;" href="/'.$href.'">'.$date.'</a>';
			return 'test';
		}
	}
?>

			{!-- Heading output is different in the case of category listings. --}
<section class="movie_list_container">

	<div class="calendar">
		{exp:channel:calendar switch="calendarToday|calendarCell" channel="showtimes" show_future_entries="yes" sort="asc"}
		<div class="calendarHeader">
			<div style="font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif; font-weight: bold; letter-spacing: -1px; text-align: left; font-size: 3em;"><a style="color: white;" href="{previous_path='calendar/cal'}">{previous_date format="%M %Y"}</a></div>
		</div>

			<?php
				$num = 0;
				$this_month = true;
				$next_month = false;
				$no_trailing_days = true;
			?>
			{calendar_rows}
				<?php $num = $num > 6? 0 : $num; ?>

				{if entries}
				<?php $num += 1; ?>
				<?php
					if ($this_month) { ?>
							<div class="calendarHeader">
								<div style="font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif; font-weight: bold; letter-spacing: -1px; text-align: left; font-size: 3em;"><?php echo get_month_and_year(); ?></div>
							</div>
						<?php
						$this_month = false;
						$next_month = true;
					}
				?>
				<div class='{switch} transformer' style="text-align: left;">
					<span style="padding:0.5em;display: inline-block;">
						<?php echo test($num);?>, {day_number}
						{entries}
						{exp:channel:entries channel="showtimes" entry_id="{entry_id}" show_future_entries="yes" dynamic="no" }
						<section class="showtime transformer" >
							<a href="{path='calendar/movie/{movies:url_title}'}">
								<span style="font-size: 18px; font-weight: 600; line-height: 18px; display: inline-block;">{movies:title}</span>
								<span style="font-size: 16px; display: inline-block; line-height: 18px;">{entry_date format="%g:%i %A"}</span>
							</a>
						</section>
						{/exp:channel:entries}
						{/entries}
					</span>
				</div>
				{/if}
				{if not_entries}
				<?php $num += 1;?>
				<?php
					if ($this_month) { ?>
							<div class="calendarHeader">
								<div style="font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif; font-weight: bold; letter-spacing: -1px; text-align: left; font-size: 3em;"><?php echo get_month_and_year(); ?></div>
							</div>
						<?php
						$this_month = false;
						$next_month = true;
					}
				?>
				<div class='{switch}'><span style="padding:0.5em;display: inline-block;"><?php echo test($num);?>, {day_number}</span></div>
				{/if}
				{if blank}
				<?php $num += 1; $no_trailing_days = 'false'; ?>
				<?php
					if ($next_month) { ?>
							<div class="calendarHeader">
								<div style="font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif; font-weight: bold; letter-spacing: -1px; text-align: left; font-size: 3em;"><?php echo get_next_month_link(); ?></div>
							</div>
							<script>
								removeTrailingLink = true;
							</script>
						<?php
						$next_month = false;
					}
				?>
				<!-- <div class='calendarBlank'><span style="padding:0.5em;display: inline-block;">{day_number}</span></div> -->
				{/if}

				{/calendar_rows}

				<div class="calendarHeader" id="trailing_link">
					<div style="font-family: 'akzidenz-grotesk_bqregular', Helvetica, Arial, sans-serif; font-weight: bold; letter-spacing: -1px; text-align: left; font-size: 3em;"><a style="color: white;" href="{next_path='calendar/cal'}">{next_date format="%M %Y"}</a></div>
				</div>
			{/exp:channel:calendar}
		</div>


</section>
<script>
	$(function() {
		console.log('ready!');

		if (removeTrailingLink) {
			$('#trailing_link').remove();
		}
	});
</script>
