{layout='layouts/_calendar-layout'}
{!--
Redirect
============
This is a blog single entry page, it'll never need a fourth segment, so we use the following code to make sure the page redirects if someone types in an incorrect URL in the browser address bar, by adding new segments. i.e. http://example.com/blog/entry/title/nothing
--}
{if segment_4}
{redirect='{segment_1}/{segment_2}/{segment_3}'}
{/if}
{!-- page vars (prefix p_) --}
{preload_replace:p_title='Movie'}
{preload_replace:p_description='A blog about things, things I like and things I do.'}
{preload_replace:p_url='calendar'}
{preload_replace:p_url_entry='movie'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='movies'}
{preload_replace:ch_disable='category_fields|member_data|pagination'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
<style>
  .now_playing {
      font-size: 3em;
      color: red;
      text-transform: uppercase;
      font-family: 'signpainter_housebrushregular', cursive;
 }
  h1 {
      color: white;
      text-transform: uppercase;
      font-size: 4.5em;
      margin: 0;
      padding-left: 0px;
      font-family: "akzidenz-grotesk_bqregular", Helvetica, Arial, sans-serif;
      line-height: 60px;
      padding-bottom: 6px;
 }
  h3 {
      font-size: 4.4em;
      font-weight: bold;
      color: gray;
      font-family: "akzidenz-grotesk_bqregular", Helvetica, Arial, sans-serif;
      letter-spacing: -1px;
      line-height: 40px;
      padding-bottom: 30px;
 }
  h4 {
      margin: 0;
      color: gray;
      font-weight: 100;
 }
  p {
      margin: 0;
 }
  .info p {
      color: #3274cd;
      font-weight: bold;
      text-transform: uppercase;
 }
  .info p:last-child {
      padding-bottom: 1em;
 }
  select {
      width: 12em;
      background-color: black;
      color: white;
      font-size: 2em;
      padding: 6px;
      margin: 5px 0px;
 }
  .entry_description {
      color: white;
      padding: 2em 8px !important;
      font-size: 1em;
 }
  h5 {
      font-weight: 100;
      font-size: 2em;
      margin: 0;
 }
  .programs_series_container a {
      text-decoration: none;
      font-family: "akzidenz-grotesk_bqregular", Helvetica, Arial, sans-serif;
      color: white;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      line-height: 28px;
 }
  .main_image {
      border: 2px solid white;
      width: 100%;
 }
  .content_warning {
      font-size: 1.5em;
      color: red;
      text-transform: uppercase;
      font-family: 'signpainter_housebrushregular', cursive;
      cursor: pointer;
 }
  input[type="checkbox"] {
      display: none;
 }
  input + .content_warning + .warning_container {
      display: none;
      opacity: 0;
      color: black;
 }
  .content_warning:after {
      content:'▼';
 }
  :checked + .content_warning:after {
      content:'▲';
 }
  input:checked + .content_warning + .warning_container {
      display: block;
      opacity: 1;
      color: white;
 }
  #showtime_dropdown {
      font-size: 1.6em;
      border: 2px solid white;
      color: white;
 }
  .showtime_item {
      padding: 6px;
 }
  .showtime_item span {
      float: right;
      color: #3274cd;
 }
  .showtime_first_item {
      padding: 6px;
 }
  .arrow {
      position: relative;
      float: right !important;
      top: 8px;
 }
  .rotation {
      transform: rotate(180deg);
 }
  .hidden:hover {
      background-color: #1f1f1f;
      cursor: pointer;
 }
  .content_warning_mobile {
      display: none;
 }
  iframe {
      height: 300px;
 }
  @media only screen and (max-width: 674px) {
      .arrow {
          right: 8px;
          top: 4px;
     }
      iframe {
          height: 150px;
     }
      h1 {
          font-size: 3.5em;
          line-height: 50px;
     }
      h3 {
          font-size: 3.5em;
          padding-bottom: 0px;
     }
      .showtime_item {
          font-size: .7em;
     }
      .first {
          padding-right: 26px;
     }
      .content_warning_desktop {
          display: none;
     }
      .content_warning_mobile {
          display: block;
          padding-bottom: 20px;
     }
 }

</style>
{!-- require_entry makes it so if someone types the wrong URL, they will get a 404 page --}
{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1' require_entry='yes'}
{!-- layout vars, dynamic, not output --}
{layout:set name='title' value='{seo_title}{gv_sep}{p_title}{gv_sep}'}
{layout:set name='description' value='{seo_desc}'}
{layout:set name='entry_ch' value='{ch}'}
{!-- OpenGraph meta output --}
{layout:set name='og_title' value='{seo_title}'}
{layout:set name='og_url'}{path='{p_url}'}{/layout:set}
{layout:set name='og_description' value='{seo_desc}'}
{!-- /layout vars, dynamic, not output --}
{!-- content output --}

<?php $showtime_today = 0; $now_playing = 0; ?>
{if now_playing}
  <?php $now_playing = 1; ?>
{/if}
{showtimes show_future_entries='yes'}
  {if {showtimes:entry_date format='%m/%d'} == {current_time format='%m/%d'} }
    <?php $showtime_today ++ ; ?>
  {/if}
{/showtimes}
<?php
  if ($showtime_today == 0 && $now_playing == 1){
    echo '<h2 class="now_playing">Coming Soon</h2>';
  } elseif ($showtime_today > 0 && $now_playing == 1){
    echo '<h2 class="now_playing">Now Playing</h2>';
  } else {
    echo '<h2 class="now_playing">Coming Soon</h2>';
  }
?>
<h1>{title}</h1>
<h3>{year_made}</h3>
<div class="content_warning_mobile">
   {if content_warning}
   <input id="_2" type="checkbox">
   <label class="content_warning" for="_2">Content Warning </label>
   <div class="warning_container transformer">
      {content_warning}
   </div>
   {/if}
</div>
<div class="w-16" style="padding:0;">
   <div class="w-8 info" style="padding:0;">
      <div class="w-8">
         <div>
            <h4>Director</h4>
            {director}
            <p>{director:director_name}</p>
            {/director}
         </div>
         <div>
            <h4>Starring</h4>
            {starring}
            <p>{starring:actor_name}</p>
            {/starring}
         </div>
         <div class="content_warning_desktop">
            {if content_warning}
            <input id="_1" type="checkbox">
            <label class="content_warning" for="_1">Content Warning </label>
            <div class="warning_container transformer">
               {content_warning}
            </div>
            {/if}
         </div>
      </div>
      <div class="w-8">
         <h4>Runtime</h4>
         <p>{runtime}
         <p>
      </div>
   </div>
   <div class="w-8">
      {if video_id !=""}
        <section class="carousel">
           <div class="owl-example owl-carousel">
              <div class="item">
                 <img class="main_image" src="{image}" alt="{title} image">
              </div>
              <div class="item">
                 <iframe width="100%" height="315" src="{if video_type == 'YouTube'}https://www.youtube.com/embed/{video_id}{if:else}//player.vimeo.com/video/{video_id}{/if}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
              </div>
           </div>
        </section>
      {if:else}
        <img class="main_image" src="{image}" alt="{title} image">
      {/if}
   </div>
   <?php $showtime_count = 0; ?>
   {showtimes show_future_entries='yes'}
      <?php $showtime_count +=1; ?>
   {/showtimes}
   <div class="w-8">
      <h4 style="padding-bottom: 6px;" class="showtime_headline">Select Showtime to Purchase Tickets</h4>
      <div id="showtime_dropdown">
         <i class="fas fa-arrow-down arrow transformer"></i>
         <div class="showtime_item transformer">
            Select Showtimes
         </div>
         <div class="dropdown_container" style="display: none;">
            {showtimes show_future_entries='yes'}
            {if {showtimes:entry_date} > {current_time}}
            <div class="showtime_item transformer showtime_exists" data-value="{showtimes:ticket_url}">
               {showtimes:entry_date format="%D, %F %d"} <span style="padding-right: 40px;">{showtimes:entry_date format="%g:%i%A"}</span>
            </div>
            {/if}
            {/showtimes}
         </div>
      </div>
   </div>
</div>
<div class="w-12 entry_description">
   {entry_description}
</div>
<div class="w-16 programs_series_container">
   {if "{programs:count}"=="1" }
      <h5>Part of the program</h5>
      {programs}
        <p><a href="/programs/entry/{programs:url_title}">{programs:title}</a></p>
      {/programs}
   {/if}
   {if "{series:count}"=="1" }
     <h5>Part of the series</h5>
     {series}
        <p><a href="/series/entry/{series:url_title}">{series:title}</a></p>
     {/series}
   {/if}
</div>
{!--
no results redirect
===================
If the entry doesn't exist, we redirect to 404. This works in tandem with the require_entry='yes' parameter on the channel entries tag.
--}
{if no_results}
{redirect='404'}
{/if}
{/exp:channel:entries}
<script>
  $(function() {

      console.log('ready!');

      var $arrow = $('.arrow');
      var $dropdownContainer = $('.dropdown_container');
      var $showtimes = $('.showtime_item');
      var $dropdownElements = $('.showtime_item, .arrow');

      var singleShowtime = $arrow.length === 0 ? true : false;

      var showtimesExist = $('.showtime_exists').length === 0 ? false : true;

      if (!showtimesExist) {
          console.log('showtimes do not exist');
          $('#showtime_dropdown').remove();
          $('.showtime_headline').text('There Are No Showtimes For This Film');
      }

      $dropdownElements.click(function() {

          var val = $(this).attr('data-value');

          if (!singleShowtime) {

              if ($arrow.hasClass('rotation')) {
                  $arrow.toggleClass('rotation');
                  $dropdownContainer.fadeOut();
                  $showtimes.each(function() {
                      $(this).toggleClass('hidden');
                  });
                  if (val) {
                      window.open(val);
                  }
              } else {
                  $arrow.toggleClass('rotation');
                  $dropdownContainer.fadeIn();
                  $showtimes.each(function() {
                      $(this).toggleClass('hidden');
                  });
              }
          } else {
              if (val) {
                  window.open(val);
              }
          }

      });

      $(document).mouseup(function(e) {

          if (!$showtimes.is(e.target) && $showtimes.has(e.target).length === 0 && !$(e.target).hasClass('arrow')) {

              if ($arrow.hasClass('rotation')) {
                  $arrow.toggleClass('rotation');
                  $dropdownContainer.fadeOut();
                  $showtimes.each(function() {
                      $(this).toggleClass('hidden');
                  });
              }
          }
      });

  });
</script>
